*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header{
    position: relative;
    display: block;
    justify-items: center;
    align-items: center;
    justify-content: center;

}

.nav-bar{
    position: relative;
    /* max-width: 1053px; */
    display: flex;
    background: 0;
    padding: 0px;
    z-index: 3;
    justify-content: space-between;
    align-items: center;
    padding: 15px 300px 15px;
}

.logo{
    width: auto;
    height: 29px;
}
.nav-item{
    margin: ;
    display: flex;
}

.menu-item{
    margin-left: 30px;
    text-decoration: none;
    list-style-type: none;
    position: relative;
}
.menu-item .language{
    position: relative;
    display: none;
}

.home-banner-container{
    position: relative;
    height: 500px;
}

.home-banner{
    position: relative;
}
.home-banner img{
    background-color: aqua;
    width: 100%;
    max-height: 500px;
}

.home-banner-text{
    position: relative;
    max-width: 825px;
    padding-top: 92px;
    margin: auto;
    display: block;
    padding-left: 24px;
    padding-right: 24px;
    bottom: 500px;
    height: 100%;
}

.home-banner-title{
    font-family: Nunito Sans,sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    font-size: 32px;
    width: 100%;
    color: #fff;    
    padding-bottom: 24px;
    max-width: 428px;
    text-align: left;
}

.home-banner-btn{
    margin-top: 100px;
    display: block;
}

.banner-btn{
    min-width: 200px;
    display: inline-block;
    box-shadow: inset 0 1px 0 hsl(0deg 0% 100% / 6%);
    border-radius: 44px;
    padding: 10px;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.sign-up-btn{
    background: #eb3d49;
    margin-right: 20px;
    color: #fff;
    margin-bottom: 20px;
}

.login-btn{
    background: #fff;
    color: #333;
}

.home-content-inner{
    position: relative;
    max-width: 960px;
    margin: auto;
}

.box-how-it-works{
    padding-top: 88px;
    padding-left: 32px;
    padding-right: 32px;
}

.title-header{
    text-align: center;
    padding-bottom: 40px;
    font-family: Nunito Sans,sans-serif;
    font-style: normal;
    font-weight: 999;
    line-height: 32px;
    font-size: 24px;
    text-align: center;
    color: #212b36;
}

.list-how{
    display: flex;
}

.how-item{
    width: 33.3333%;
    padding: 0 20px 0px 20px;
}

.how-item img{
    display: block;
    margin: auto;
    width: 40px;
}

.how-item .title{
    font-family: Nunito Sans,sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    font-size: 16px;
    color: #212b36;
    padding: 8px 0px 8px 0px;
    text-align: center;
}

.how-item .note{
    font-family: Nunito Sans,sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    text-align: center;
    color: #637381;
}
