*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    font-size: 14px;
    height: 100%;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1.5;
}

a{
    text-decoration: none;
}

.header{
    position: relative;
    display: block;
    justify-items: center;
    align-items: center;
    justify-content: center;

}


.nav-bar{
    position: relative;
    /* max-width: 1053px; */
    display: flex;
    background: 0;
    padding: 0px;
    z-index: 3;
    justify-content: space-between;
    align-items: center;
    padding: 15px 300px 15px;
}

.logo{
    width: auto;
    height: 29px;
}
.nav-item{
    display: flex;
}

.menu-item{
    margin-left: 30px;
    text-decoration: none;
    list-style-type: none;
    position: relative;
}
.menu-item .language{
    position: relative;
    display: none;
}

.home-banner-container{
    position: relative;
    height: 500px;
}

.home-banner{
    position: relative;
}
.home-banner img{
    background-color: aqua;
    width: 100%;
    max-height: 500px;
}

.home-banner-text{
    position: relative;
    max-width: 825px;
    padding-top: 92px;
    margin: auto;
    display: block;
    padding-left: 24px;
    padding-right: 24px;
    bottom: 500px;
    height: 100%;
}

.home-banner-title{
    font-family: Nunito Sans,sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    font-size: 32px;
    width: 100%;
    color: #fff;    
    padding-bottom: 24px;
    max-width: 428px;
    text-align: left;
}

.home-banner-btn{
    margin-top: 100px;
    display: block;
}

.banner-btn{
    min-width: 200px;
    display: inline-block;
    box-shadow: inset 0 1px 0 hsl(0deg 0% 100% / 6%);
    border-radius: 44px;
    padding: 10px;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.sign-up-btn{
    background: #eb3d49;
    margin-right: 20px;
    color: #fff;
    margin-bottom: 20px;
}

.login-btn{
    background: #fff;
    color: #333;
}

.home-content-inner{
    position: relative;
    max-width: 960px;
    margin: auto;
}

.box-how-it-works{
    padding-top: 88px;
    padding-left: 32px;
    padding-right: 32px;
}

.title-header{
    padding-bottom: 40px;
    font-family: Nunito Sans,sans-serif;
    font-style: normal;
    font-weight: 999;
    line-height: 32px;
    font-size: 24px;
    text-align: center;
    color: #212b36;
}

.list-how{
    display: flex;
}

.how-item{
    width: 33.3333%;
    padding: 0 20px 0px 20px;
}

.how-item img{
    display: block;
    margin: auto;
    width: 40px;
}

.how-item .title{
    font-family: Nunito Sans,sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    font-size: 16px;
    color: #212b36;
    padding: 8px 0px 8px 0px;
    text-align: center;
}

.how-item .note{
    font-family: Nunito Sans,sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    text-align: center;
    color: #637381;
}

.box-challenging-fun{
    display: flex;
    position: relative;
    width: 100%;
    padding: 64px 36px 63px 92px;
}

.box-challenging-fun .box-infor{
    position: relative;
    width: 41.666667%;
    padding-top: 33px;
    float: left;
}


.box-challenging-fun .box-infor .title{
    font-family: Nunito Sans,sans-serif;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
    font-size: 24px;
    color: #212b36;
}
.box-challenging-fun .box-infor .note{
    font-family: Nunito Sans,sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
    color: #212b36;
    padding-top: 16px;
    padding-bottom: 24px;
}

.box-challenging-fun .box-infor .btn-view-race{
    display: inline-block;
    background: #ec3232;
    box-shadow: inset 0 1px 0 hsl(0deg 0% 100% / 6%);
    border-radius: 6px;
    font-family: Nunito Sans,sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    padding: 10px 16px;
    text-decoration: none;
}

.list-event {
    width: 58.333333%;
}

.box-current-race{
    height: 100%;
    width: 100%;
    list-style: none;
    max-width: 472px;
    float: right;
}

.box-current-race a{
   padding: 3px;
   display: inline-grid;
}
.box-current-race li{
    float: left;
    display: grid;
    height: 117px;
    max-width: 236px;
    width: 100%;
}


.box-race-wrapper{
    border-radius: 6px;
    height: 100%;
    width: 100%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 115%;
    background-position: 50% 50%;
    background-image: url("https://virtual-race-submissions.s3-ap-southeast-1.amazonaws.com/images/List-Banner-1-jpg-e3h18082020-53812");
}

.box-race-wrapper .title{
    background: rgba(15,20,25,.7);
    border-radius: 6px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 20% 0 0;
    font-weight: 500;
    font-size: 14px;
    font-family: Nunito Sans,Helvetica,Arial,sans-serif;
    color: #fff;
    opacity: 0;
}

.list-event li:hover .box-race-wrapper{
    background-size: 100%;
    transition: 0.3s;
}

.list-event li:hover .box-race-wrapper .title{ 
opacity: 1;
-webkit-transition: opacity .45s ease-in-out;
transition: opacity .45s ease-in-out;
}


.box-rewarding-experience{
    position: relative;
    display: flex;
    width: 100%;
    padding: 64px 0px;
}

.box-rewarding-experience .list{
    position: relative;
    float: right;
    width: 63%;


}

.box-rewarding-experience  ul{
    display: inline-block;
    padding-left: 116px;
}

.box-rewarding-experience .box-infor{
    width: 36%;
    float: right;
    padding-right: 92px;
}

.box-rewarding-experience  .list li{
    float: left;
    display: grid;
    padding-right: 8px;
    padding-bottom: 8px;
}

.box-rewarding-experience .box-infor .title{
    font-family: Nunito Sans,sans-serif;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
    font-size: 24px;
    color: #212b36;
    padding: 99px 0px 16px 0px;
}

.box-rewarding-experience .box-infor .note{
    font-family: Nunito Sans,sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
    color: #454f5b;
}

.box-instagram-comumity{
    padding: 64px 87px 64px 92px;
    width: 100%;
}

.box-instagram-comumity .list{
    width: 50%;
    padding: 57px 20px 0px 0px;
}

.box-instagram-comumity .list .title{
    font-family: Nunito Sans,sans-serif;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
    font-size: 24px;
    color: #212b36;
}

.box-instagram-comumity .list .note{
    padding: 16px 0px;
    font-family: Nunito Sans,sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
    color: #212b36;
}

.box-instagram-comumity span{
    color: red;
}

.box-instagram-comumity  .btn-join-community{
    background:red;
    box-shadow: inset 0 1px 0 hsl(0deg 0% 100% / 6%);
    border-radius: 8px;
    font-family: Nunito Sans,sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    font-size: 16px;
    color: #fff;
    padding: 10px 16px;
    display: inline-block;
    text-decoration: none;
}

.box-get-app{
    padding:56px 75px 0px 84px;
    display: flex;
}

.box-get-app .box-photo-app{
    width: 54%;
    /* float: right; */
}

.box-get-app .box-photo-app img{
    width: 100%;
    max-width: 409px;
    /* float: right; */
}

.box-get-app .box-infor{
    padding-left: 40px;
    float: right;
    width: 45%;
}

.box-get-app .box-infor .title{
    font-family: Nunito Sans,sans-serif;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
    font-size: 24px;
    color: #212b36;
    padding-top: 103px;
}

.box-get-app .box-infor .note{
    font-family: Nunito Sans,sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
    color: #212b36;
    padding-top: 16px;
    padding-bottom: 24px;
}

.box-btn-mobile-app a {
    background: 0 0;
    width: 132px;
    height: 39px;
    border: none;
    cursor: pointer;
    display: inline-block;
}

.box-btn-mobile-app .btn-ios {
    background-image: url(https://s3-ap-southeast-1.amazonaws.com/web42-assets/images/icons/appstore-button.png);
    background-size: cover;
    background-position: 50%;
}

.box-btn-mobile-app .btn-android {
    background-image: url(https://s3-ap-southeast-1.amazonaws.com/web42-assets/images/icons/playstore-button.png);
    background-size: cover;
    background-position: 50%;
    margin-left: 8px;
}

.box-news{
    padding: 88px 24px 56px 24px;
}

.news-items{
    position: relative;
    margin-left: 0;
    margin-right: 0;
    height: auto;
    zoom: 1;
    display: flex;
}
.news-items .list{
    display: block;
    width: 33.3333333%;

}

.box-news-inner{
    padding-right: 10%;
    padding-bottom: 48px;
    /* cursor: pointer; */
}

.news-items img{
    width: 100%;
    max-width: 257px;
}

.name{
    font-family: Nunito Sans,sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    font-size: 16px;
    color: #212b36;
    padding-top: 16px;
    padding-bottom: 8px;
}

.date{
    font-family: Nunito Sans,sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    font-size: 14px;
    color: #637381;
}

.btn-all-news{
    font-family: Nunito Sans,sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 16px;
    text-align: center;

}

.btn-view-all-news{
    cursor: pointer;
}
.btn-view-all-news span{
    color: #ec3232;
}
.box-footer{
    background: #192129;
    font-family: Nunito Sans,sans-serif;
    font-style: normal;
    line-height: normal;
    font-size: 14px;
}
.box-footer-inner{
    padding-top: 64px;
    width: 100%;
    margin: auto;
    max-width: 960px;
}

.footer-content{
    position: relative;
    margin-left: 0;
    margin-right: 0;
    height: auto;
    zoom: 1;
    display: block;
    display: flex;
}
.footer-content .list{
    min-width: 164px;
    width: 25%;
    display: block;
}


.box-footer .title{
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 14px;
    color: #637381;
    padding-bottom: 16px;
}

.box-footer ul{
    list-style: none;
}

.box-footer li{
    padding-bottom: 16px;
    font-family: Nunito Sans,sans-serif;
    font-style: normal;
    line-height: normal;
    font-size: 14px;
}

.box-footer li a{
    color: #fff;
}

.box-footer span{
    line-height: 3.5em;
    color: #637381;
}
.box-term-conditions{
    padding: 48px 0px 48px 0px;
    width: 100%;
    display: flex;
}

.term-conditions{
    text-align: left;
    width: 50%;
    display: inline-block;
}
.box-term-conditions .box-btn-mobile-app{
 text-align: right;
 width: 50%;
}
